blinker==1.9.0
certifi==2025.6.15
click==8.2.1
Flask==3.1.1
Flask-SQLAlchemy==3.1.1
geopandas==1.1.0
greenlet==3.2.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
narwhals==1.43.1
numpy==2.3.1
packaging==25.0
pandas==2.3.0
patsy==1.0.1
plotly==6.1.2
plotly-express==0.4.1
psycopg2-binary==2.9.10
pyogrio==0.11.0
pyproj==3.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
scipy==1.15.3
shapely==2.1.1
six==1.17.0
SQLAlchemy==2.0.41
statsmodels==0.14.4
typing_extensions==4.14.0
tzdata==2025.2
Werkzeug==3.1.3
